<header class="bl-header-background">
  <div class="bl-header-section">
    <div class="bl-header-headline">
      <h1 class="mat-h1">Collectables</h1>
      <h2>Collect all the things</h2>
    </div>
    <div class="bl-header-start">
     <a mat-raised-button class="bl-button" routerLink="/login">Login</a>
    </div>
  </div>
</header>
<div class="bl-homepage-promo">
  <div class="bl-homepage-row">
    <div class="bl-homepage-promo-img">
    </div>
    <div class="bl-homepage-promo-desc">
      <h2>Collect all collectables you can collect</h2>
      <p>Did you always wanted to share all the place you've been?
        All the beers you consumed? Or languages you know? Create an account and log it.</p>
    </div>
  </div>
  <div class="bl-homepage-row bl-homepage-reverse-row">
    <div class="bl-homepage-promo-img">
    </div>
    <div class="bl-homepage-promo-desc">
      <h2>Live and up to date</h2>
      <p>Our servers are awake for every and help you
        to catch every single collectable there is.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
