<header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">Collectables</h1>
      <h2>Collect all the things</h2>
    </div>
    <div class="header-start">
     <a mat-raised-button class="button" routerLink="/login">Login</a>
    </div>
  </div>
</header>
<div class="homepage-promo">
  <div class="homepage-row">
    <div class="homepage-promo-img">
    </div>
    <div class="homepage-promo-desc">
      <h2>Collect all collectables you can collect</h2>
      <p>Did you always wanted to share all the places you've been?
        All the beers you consumed? Or languages you know? Create an account and log it.</p>
    </div>
  </div>
  <div class="homepage-row homepage-reverse-row">
    <div class="homepage-promo-img">
    </div>
    <div class="homepage-promo-desc">
      <h2>Live and up to date</h2>
      <p>Our servers are awake forever and help you
        to catch every single collectable there is.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
